// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------
$color-brand-primary-blue: #2B2D42;
$color-brand-primary-red: #EF233C;
$color-brand-secondary-red: #A7192A;
$color-brand-secondary-blue: #74768D;
$color-cool-gray: #F0F1F5;
$color-bright-blue: #2F80ED;
$color-bright-green: #27AE60;

$color-background: $color-cool-gray;
$color-body-copy: #5D5F72;

$color-black: #111;
$color-white: #fff;

// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$font-sans-serif: 'Lato', sans-serif;
$font-serif: 'Merriweather', serif;
