// ----------------------------------------------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------------------------------------------
$color-brand-primary-blue: #2B2D42;
$color-brand-primary-red: #EF233C;
$color-brand-secondary-red: #A7192A;
$color-brand-secondary-blue: #74768D;

$color-cool-gray: #F0F1F5;

$color-background: $color-cool-gray;
$color-body-copy: #444;

// ----------------------------------------------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------------------------------------------
$serif-font: 'Lato', serif;

// ----------------------------------------------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------------------------------------------
